/* GENERAL */ 


:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  --color-primary: #dde5ed;   /* Color principal */
  --color-secondary: #527291; /* Color secundario */
  --color-tertiary: #b5bdc9;  /* Color terciario */
  background-color: var(--color-primary); 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

p {
  text-align: center;
}

.container {
  width: 100%; /* Porcentaje en lugar de píxeles */
  margin: 0 auto; /* Centrar horizontalmente */
  background-color: var(--color-secondary);;
}


h1 {
  font-size: 2.0em;
  line-height: 1.1;
  text-align: center;
}

h2 {
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
}

button {
  border-radius: 10px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-tertiary); /* Fondos de botones con el color terciario */
}

button:hover {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-secondary);
  padding: 0.6em 1.2em; 
}


input {
  color-scheme: light;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-tertiary);
  padding:5px; 
  text-align: center;
}


.nav-link {
  color: var(--color-primary); /* Enlaces de navegación con el color secundario */
}

label {
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}
