.page-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 850px;  /* Ocupa el 100% de la altura de la ventana */
  margin: 0;
}
  .mytripadd-container {
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    padding: 32px 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  /* Encabezado */
  .mytripadd-container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  /* Formulario */
  .mytripadd-container form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  /* Etiquetas */
  .mytripadd-container label {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
  }
  
  /* Campos de entrada */
  .mytripadd-container input[type="text"],
  .mytripadd-container input[type="file"],
  .mytripadd-container input[type="date"] {
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #e1e8ed;
    width: 80%;
  }
  
  /* Botón de registro */
  .mytripadd-container button {
    padding: 10px;
    background-color: #718878;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    margin-bottom: auto;
   
  }


  .mytripadd-container button:hover {
    background-color: #244235;
  }

  