.trip { 
    font-weight: bold;
    color: black;
    padding:20px;
    cursor: pointer;
    transition: border-color 0.25s;
}

.link { 
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #718878;
    margin: 20px;
    max-width: 250px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

}

.link:hover {
  border-style: solid;
  border-color: var(--color-secondary);
  background-color: #244235;
 
}

.iconsimg{
    color: white; 
    position: relative;
    font-size: 100px;
    display: inline-block;
    top: 50px;
    flex-direction: column;
    align-items: center;

}
