
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #527291; /* Color de fondo de la barra de navegación */ 
    color: white;
    padding: 5px 0;
    text-align: center;
  }

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1px; /* Agrega un espacio para que el contenido no esté pegado al borde */
  }

  p { 
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 30px; /* Espacio entre elementos */
    
  }
